* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    width: 200px;
}

.product-card > img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
    padding-bottom: 45px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 6px;
}