* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    width: 200px;
    border-radius: 10px;
    padding-inline: 10px;
}

.product-card:hover {
    background-color: rgb(236, 236, 239);
}

.product-card > img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
    padding-block: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background-color: white;
}

.cart {
    display: flex;
    align-items: center;
    gap: 6px;
}